#SFONDO{
    opacity: 1;
}

svg > g {
	opacity:0;
	display: block;
	transition: all, 0.2s;
}

svg > g:hover {
	opacity: 1
}

.none:hover {
    opacity:0;
}

#manifesto {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: 900;
    line-height: 75px;
    margin: 20px;
    font-kerning: 1px;
    padding-top: 80px;
    color: black;
}

#corretto {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: 900;
    line-height: 75px;
    margin-left: 20px;
    margin-right: 20px;
    font-kerning: 1px;
    padding-top: 80px;
    color: white;
}

#join {
    font-family: Helvetica;
    margin-left: 20px;
    font-size: 90px;
    font-weight: 900;
    color: black;
}

#join2 {
    font-family: Helvetica;
    margin-left: 20px;
    font-size: 90px;
    font-weight: 900;
    color: white;
}

.menu {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: white;
    display: block;
}

.color1 {
    color: black;
}

.color2 {
    color: white;
}

.menu2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: black;
    display: block;
}

.menu3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #fedb32;
    display: block;
}

#indietro {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 10px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 80px;
    font-kerning: 1px;   
}

.nota {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-kerning: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: left;
    color: white;
    background-color: black;
}


.nota2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-kerning: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: left;
    color: black;
}

.click {
    color: #ffd700;
}

.ismanifesto {
    background-color: black;
}

.word {
    color: #ffd700;
}

.footer {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-kerning: 1px;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    color: black;
}

.profe {
    font-size: 14px;
}

.loghi {
    margin-top: 80px;
    margin-bottom: 80px;
}

.name {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 700;
    font-kerning: 1px;
}

h5 {
    font-family: Helvetica;
    font-size: 100px;
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 150px;
}

#title {
    font-family: 'Roboto Mono', monospace; 
    font-size: 36px;
    margin-right: 20px;
    margin-top: 150px;
    margin-left: 150px;
    line-height: 45px;
}

.mostra {
    font-family: 'Roboto Mono', monospace; 
    font-size: 16px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.acetato {
    width: 100%;
    padding-right: 250px;
    padding-left: 250px;
    height: auto;
    display: inline;
    
}

.slide {
    width: 100%;
    margin-bottom: 80px;
}

.slideshow {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a.indietro {
    color: white;
    text-decoration: none;
}

a.mostra {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
    color: #ffd700;
}

.click:hover, .click:active {
    text-decoration: underline;
    color: gold;
}

.stand:hover, .stand:active {
    text-decoration: underline;
    color: black;
}

.color1:hover, .color1:active {
    text-decoration: underline;
    color: gold;
}

.color2:hover, .color2:active {
    text-decoration: underline;
    color: gold;
}

::selection { 
    background: #ffd700; 
    } 
::-moz-selection { 
    background: #ffd700; 
}

html, body {
  height: 100%;
  margin: 0px;
  border: 0px;
}

#container {
  height: 100%;
  background-color: #fedb32;
}

video {
    width: 100%;
    height: auto;
    padding: 0;
  }

@media screen and (max-width: 414px) {
    .mostra {
        font-size: 36px;
        margin-top: 50px;
    }
    #title {
        font-size: 66px;
    }
}

